<template>
  <div class="col-sm-6 col-md-4">

    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">
          {{stock.name}}
          <small>قیمت:{{stock.price}} || تعداد:{{stock.quantity}}</small>
        </h3>
      </div>
      
      <div class="panel-body">

        <div class="pull-left">  
          <input type="number" class="form-control" 
          data-vv-as="field" 
          placeholder="تعداد"
          v-model.number="quantity" 
          :class="{ danger:insufficientQuantity  }" >
        </div>

        <div class="pull-right">
          <button class="btn btn-primary" 
          @click="sellStock"
          :disabled=" insufficientQuantity || quantity <= 0"
          >{{insufficientQuantity ? 'بیش  از تعداد ':'فروش'}}</button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { mapActions} from "vuex"

export default {
   props:["stock"],
   data(){
       return {
          quantity:0
       }
   },
   computed:{
     insufficientQuantity() {
      return this.quantity > this.stock.quantity;
    }
   },
   methods: {
       ...mapActions({
           placeSellOrder:'sellStock'
   }),
       sellStock(){
           const order = {
               stockId: this.stock.id,
               stockPrice: this.stock.price,
               quantity: this.quantity
           };
            this.quantity = 0;
         this.placeSellOrder(order)
        }
    }
};
</script>

<style lang="sass" scoped>
.danger
   border: 1px solid red;
</style>