<template>
  <div class="home">

    <h1>تجارت یا نمایش نمونه کارهای شما</h1>
    <h6> ذخیره و بارگذلری اطلاعات شما</h6>
    <h6>بر روی "پایان روز" کلیک کنید تا  روز جدید شروع شود</h6>
    <hr>
    <p>دارایی : {{funds | currency }}</p>
    
  </div>
</template>

<script>
// @ is an alias to /src

export default {
 computed:{
   funds(){
    return this.$store.getters.funds;
   }
   
 }
};
</script>
<style scoped>
.home{
  float: right;
}
</style>