<template>
  <div>
    <app-stock v-for="stock in stocks" :key="stock.id" :stock="stock"></app-stock>
  </div>
</template>

<script>
import Stock from "@/components/Stock.vue"
export default {
    components:{
        appStock:Stock
    },
    computed:{
      stocks(){
        return this.$store.getters.stocks
      }
    }
    
}
</script>

<style>

</style>