<template>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <router-link to="/" class="navbar-brand">تاجر سهام</router-link>
        </div>

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav">

            <router-link to="/portfolio" active-class="active" tag="li">
              <a>نمونه</a>
            </router-link>
            <router-link to="/stocks" active-class="active" tag="li">
              <a>سهام</a>
            </router-link>

          </ul>

          <strong class="navbar-text navbar-right">داریی: {{funds | currency }}</strong>
         
          <ul class="nav navbar-nav navbar-right">

            <li>
              <a href="#" @click="endDay">پایان روز</a>
            </li>
            <li 
            class="dropdown" 
            :class="{open : isDropdownOpen }"
            @click="isDropdownOpen = !isDropdownOpen">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                ذخیره و بارگذاری
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <a href="#" 
                  @click="saveData()"
                  >ذخیره اطلاعات
                  </a>
                </li>
                <li class="dropdown-item">
                  <a href="#">بارگذاری اطلاعات</a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      
      </div>
    </nav>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      isDropdownOpen: false
    };
  },
  computed: {
    funds() {
      return this.$store.getters.funds;
    }
  },
  methods: {
    ...mapActions(["randomizeStocks"]),
    endDay() {
      this.randomizeStocks();
    },
    saveData(){
      const data = {
        funds : this.$store.getters.funds,
        stockPortfolio : this.$store.getters.stockPortfolio,
        stocks: this.$store.getters.stocks,
      };
      this.$http.put('data.json', data)
    }
  }
};
</script>

<style scoped>

.dropdown-item{
  float: right;
}

</style>