<template>
  <div class="col-sm-6 col-md-4">

    <div class="panel panel-success">

      <div class="panel-heading">
        <h3 class="panel-title">
          {{stock.name}}
          <small>قیمت:{{stock.price}}</small>
        </h3>
      </div>

      <div class="panel-body">

        <div class="pull-left">
          <input
            type="number"
            class="form-control"
            data-vv-as="field"
            placeholder="تعداد"
            v-model.number="quantity"
            :class="{danger: insufficientFunds }"
          />
        </div>

        <div class="pull-right">
          <button class="btn btn-success"
           @click="buyStock" 
           :disabled=" insufficientFunds || quantity <= 0"
           >{{insufficientFunds ? 'موجودی ناکافی': 'خرید'}}</button>
        </div>

      </div>

    </div>

  </div>
</template>

<script>

export default {
  props: ["stock"],
  data() {
    return {
      quantity: 0
    };
  },
  computed: {
    funds(){
      return this.$store.getters.funds
    },
    insufficientFunds() {
      return this.quantity * this.stock.price > this.funds;
    }
  },
  methods: {
    buyStock() {
      const order = {
        stockId: this.stock.id,
        stockPrice: this.stock.price,
        quantity: this.quantity
      };
      (this.quantity = 0), this.$store.dispatch("buyStocks", order);
    }
  }
};
</script>

<style lang="sass" scoped>
.danger
   border: 1px solid red;

</style>

