<template>
  <div id="app">
    <div class="container">
      <app-header></app-header>
      <div class="row">
        <div class="col-xs-12">
          <transition name=" slide" mode="out-in">
          <router-view></router-view>
          </transition>
        </div>
      </div>
      
    </div>
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
export default {
  components: {
    appHeader: Header
  },
 created(){
   this.$store.dispatch('initStock')
 }
};
</script>
<style>
body{
  padding: 30px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  direction: rtl;
  color: #2c3e50;
}
.slide-enter-active{
animation: slide-in  200ms ease-out forwards;
}
.slide.leave-active{
animation: slide-out  200ms ease-out forwards;

}
@keyframes slide-in {
  from{
transform:translateY(-30px);
opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  from{
    transform: translateY(0);
    opacity: 1;
  }
  to{
transform: translateY(-30px);
opacity: 0 ;
  }
  
}
</style>
